﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-default {
    background-color: #e11e31 !important;
    border-color: #bf3e11;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: brown;
}

img {
    box-shadow: 0 0 2px 3px brown;
    border-color: #e11e31;
}

img:hover {
    box-shadow: 0px 0px 0px 3px #e11e31;
    cursor: pointer;
}

a {
    color: #e11e31;
    text-decoration: none;
}