﻿@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-3">
        <a href="http://www.redpetroleum.kg" target="_blank">
            <img src="~/Content/Images/redpetroleum.jpg" title="Red Petroleum" alt="Red Petroleum"/>
        </a>
    </div>
    <div class="col-md-9">
        <p>
            Сеть АЗС Red Petroleum – ведущая кыргызстанская компания,
            основной деятельностью которой является оптовая и розничная
            реализация топлива ведущих российских нефтеперерабатывающих
            заводов через сеть заправочных комплексов «Red Petroleum».
            Компания один из лидеров на рынке нефтепродуктов.
            Деятельность сети АЗС Red Petroleum представлена в Чуйской, Иссык-кульской, Нарынской, Ошской, Баткенской и Джалал-абадской областях страны.
        </p>
    </div>
</div>

