﻿
@{
    ViewBag.Title = "Проверка купона на регистрацию";
}

<h2>@ViewBag.Titl</h2>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Введите номер купона:</label>
            <div class="input-group">
                <span class="input-group-addon">></span>
                <input type="text" class="form-control" id="searchNumber">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="checkNumberPoint();">Поиск</button>
        </span>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Номер купона</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Дата поступления</th>
        </tr>
    </thead>
    <tbody id="pointsTbody">
            
    </tbody>
</table>

<script src="@Url.Content("~/Scripts/Home/checkPoint.js")"></script>