﻿@{
    ViewBag.Title = "Котакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    RED Petroleum<br />
    Kyrgyzstan.Bishkek, 720017<br/>
    st. Isanova, 42/2<br/>
    <abbr title="Phone">P:</abbr>
    0800 80 800 08
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />*@
    <strong>Marketing:</strong> <a href="mailto:Marketing@redpetroleum.kg">Marketing@redpetroleum.kg</a>
</address>