﻿@using RedPetroleumAction.Data
@{
    var pointsForAction = (List<PointsForAction>)ViewBag.PointsForAction;
    var i = 1;
    var fullCountPage = (int)ViewBag.FullCountPage;
    var j = 0;
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<br />
<br />
<div class="row">
    <h2>База данных зарегистрированных пользователей</h2>
    <input type="hidden" id="lastPageNumber" value="20"/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Номер купона</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
                <th>Дата поступления</th>
                <th>Потверждение</th>
            </tr>
        <tr id="searchInputs">
            <th></th>
            <th>
                <input class="form-control input-sm" value="" type="text" id="NumberPoint" onchange="changedInputValueNew('NumberPoint');">
                <input type="hidden" value="0" id="indexSearch_NumberPoint" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_NumberPoint" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm"  value="" type="text" id="FirstName" onchange="changedInputValueNew('FirstName');">
                <input type="hidden" value="0" id="indexSearch_FirstName" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_FirstName" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm" value=""  type="text" id="LastName" onchange="changedInputValueNew('LastName');">
                <input type="hidden" value="0" id="indexSearch_LastNamex" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_LastName" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm" value=""  type="text" id="Phone" onchange="changedInputValueNew('Phone');">
                <input type="hidden" value="0" id="indexSearch_Phone" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_Phone" class="isSearch"/>
            </th>
        </tr>
        </thead>
        <tbody id="elementsViewBody">
            
        @foreach (var pointForAction in pointsForAction)
        {
            var isConfirm = (pointForAction.IsConfirm == true) ? "checked" : "";
            <tr class="points" id="@pointForAction.Id">
                <td id="numberItem">@i</td>
                <td id="NumberPoint_Text">@pointForAction.NumberPoint</td>
                <td id="FirstName_Text">@pointForAction.FirstName</td>
                <td id="LastName_Text">@pointForAction.LastName</td>
                <td id="PhoneNumber_Text">@pointForAction.PhoneNumber</td>
                <td id="DateSendSms_Text">@pointForAction.DateSendSms</td>
                <td id="IsConfirm_Text">
                    <input onclick="checkedConfirmForm(@pointForAction.Id)" class="form-control input-sm" type="checkbox" @isConfirm/>
                </td>
            </tr>
            i++;
        }
        </tbody>
        
    </table>
    @*<ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>*@
    <input type="hidden" id="fullCountPageInput" value="@fullCountPage"/>
    <ul class="pagination pagination-lg" id="pagination">
        <li class="disabled" id="prevPage" onclick="prevPage();"><a href="#">&laquo;</a></li>

        @if (fullCountPage > 5)
        {
            for (j = 0; j < 5; j++)
            {
                var index = j + 1;
                if (j == 0)
                {
                    <li class="active page" id="firstPage" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                }
                else
                {
                    if (j == 4)
                    {
                        <li id="lastPage" class="page" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                    }
                    else
                    {
                        <li class="page" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                    }

                }
            }
            if (fullCountPage > 6)
             {
                 <li id="nextGroupPages"><a href="#">...</a></li>
             }
            <li id="totalCountPage" onclick="lastPage(@fullCountPage);"><a href="#">@fullCountPage</a></li>
            <li id="nextPage"><a href="#" onclick="nextPage();">&raquo;</a></li>
        }
        else
        {
            for (j = 0; j < fullCountPage; j++)
            {
                var index = j+1;
                if (j == 0)
                {
                    <li class="active page" id="firstPage" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                }
                else
                {
                    if (j == fullCountPage-1)
                    {
                        <li class="page" id="lastPage" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                    }
                    else
                    {
                        <li class="page" onclick="pageCurrent(@j);"><a href="#">@index</a></li>
                    }
                }
            }
            if (fullCountPage > 1)
            {
                <li id="nextPage" onclick="nextPage();"><a href="#">&raquo;</a></li>
            }
            else
            {
                <li class="disabled" id="nextPage" onclick="nextPage();"><a href="#">&raquo;</a></li>
            }
        }
    </ul>
</div>
<script src="@Url.Content("~/Scripts/Home/search.js")"></script>
<script src="@Url.Content("~/Scripts/Home/checkedConfirm.js")"></script>