﻿@model IEnumerable<RedPetroleumAction.Data.Ban>

@{
    ViewBag.Title = "Index";
}

<h2>Bans</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BanDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountErrorSendSms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextMessegeHtml)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountErrorSendSms)
        </td>
        <td>
            @Html.Raw(item.TextMessegeHtml)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
