﻿@model RedPetroleumAction.Data.Ban

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountErrorSendSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountErrorSendSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextMessege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextMessege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextMessegeHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextMessegeHtml)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
