﻿@*@using RedPetroleumAction.Data
@{
    var pointsForAction = (List<PointsForAction>) ViewBag.PointsForAction;
}*@
<div class="jumbotron">
    <h1>API</h1>
    <p class="lead">API for Nikita.</p>
    <p><a href="@Url.Action("Index","Help")" class="btn btn-primary btn-lg">Documentation &raquo;</a></p>
</div>
@*<br />
<br />
<div class="row">
    <h2>Данные</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Номер купона</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
        </tr>
        <tr id="searchInputs">
            <th>
                <input class="form-control input-sm" type="text" id="NumberPoint" onkeyup="changedInputValue('NumberPoint');">
                <input type="hidden" value="0" id="indexSearch_NumberPoint" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_NumberPoint" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm" type="text" id="FirstName" onkeyup="changedInputValue('FirstName');">
                <input type="hidden" value="0" id="indexSearch_FirstName" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_FirstName" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm" type="text" id="LastName" onkeyup="changedInputValue('LastName');">
                <input type="hidden" value="0" id="indexSearch_LastNamex" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_LastName" class="isSearch"/>
            </th>
            <th>
                <input class="form-control input-sm" type="text" id="Phone" onkeyup="changedInputValue('Phone');">
                <input type="hidden" value="0" id="indexSearch_Phone" class="indexSearch"/>
                <input type="hidden" value="0" id="isSearch_Phone" class="isSearch"/>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pointForAction in pointsForAction)
            {
            <tr class="points">
                <td id="NumberPoint_Text">@pointForAction.NumberPoint</td>
                <td id="FirstName_Text">@pointForAction.FirstName</td>
                <td id="LastName_Text">@pointForAction.LastName</td>
                <td id="PhoneNumber_Text">@pointForAction.PhoneNumber</td>
            </tr>
        }
        </tbody>
    </table>
    @*<div id="row">

        <table class="table table-striped table-hover">
            @foreach (var pointForAction in pointsForAction)
            {
                <tr class="points">
                    <td id="NumberPoint_Text">@pointForAction.NumberPoint</td>
                    <td id="FirstName_Text">@pointForAction.FirstName</td>
                    <td id="LastName_Text">@pointForAction.LastName</td>
                    <td id="PhoneNumber_Text">@pointForAction.PhoneNumber</td>
                    <input type="hidden" value="1" id="isView" />
                </tr>
            }
        </table >
</div>*@
                  